body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    border: 1px;
    margin:
    padding:
    border-radius:
}

.message-info{
    background: ;
    color: steelblue ;
    border-color: ;
}