/*NAVBAR DESIGN*/
#navbar {
    overflow: hidden;
    background-color: gray;
}

#navbar {
    float: left;
    display: block;
    color: #5073b8;
    text-align: center;
    padding: 14px;
    text-decoration: black;
}

#container{
    background-color:slategray;
}
