.header {
    color: darkviolet; /* single line comment */
    text-decoration: underline;
}

selector{
    color: orangered;
    key: value;
}'

a:link{
    color: burlywood;
    font-size:3em;
}

a:hover{
    color: tomato;
    font-size: 22em;
}